<a href="https://colab.research.google.com/github/SPACE-X39/Python-practice-1/blob/main/allpractice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Strings

In [ ]:
#Length of string
str = "Hello Ashu"
print(len(str))
#Concatination
str1 = "Hey"
str2 = "There"
print(str1+" "+str2)
print(str1[1])#Indexing
str3 = "I'll get a Job in this month"
print(str3[:14])#slicing
print(str3[:-6-1])#Negetive slicing
str4 = "HelooNehahowareyou"
print(str4[2:10:2])#Slicing with step
str4.endswith("ou")#Endswith function
str4.capitalize()#usede to capitalize first letter of string
str4.find("Neha")#find function(used to find the index of substring)

10
Hey There
e
I'll get a Job
I'll get a Job in thi
loea

5

#LISTS

In [ ]:
#Creating a list of 20 numbers
lst = list(range(1,21))
print(lst)
#Printing middle num
print(lst[len(lst)//2])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
11

In [ ]:
list1 = [12,17,10.5,"Ashu",True]
list1.append("Hlw")#Append function(adds element at last)
print(list1)
#Inserting element at specific index
list1.insert(2,"false")
print(list1)
list2 = [52,99,10,2.77]
list2.sort()#Sort function sorts in ascending order
print(list2)
print(list2.sort()) #returns None bcz it modifies the original list and doesn't return anything
list3 = [22,0,2.5,11]
print(sorted(list3)) #returns a new sorted list and doesn't modify the original list
print(list3) #original list remains same
list3.reverse()#Reverses the original list
print(list3)
list3.remove(2.5)#Removes the specified element
print(list3)
list3.pop()#Removes the last element
print(list3)

[12, 17, 10.5, 'Ashu', True, 'Hlw']
[12, 17, 'false', 10.5, 'Ashu', True, 'Hlw']
[2.77, 10, 52, 99]
None
[0, 2.5, 11, 22]
[22, 0, 2.5, 11]
[11, 2.5, 0, 22]
[11, 0, 22]
[11, 0]

In [ ]:
#List Comprehension

In [ ]:
'''Print squares of first 5 natural numbers'''
[x**2 for x in range(1,6)]

[1, 4, 9, 16, 25]

In [ ]:
'''print even numbers from 1 to 20'''
[x for x in range(1,21) if x%2==0]

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
'''print all the numbers between 1 to 50 which are divisible by 3 and 5'''

[x for x in range(1,51) if x%3==0 and x%5==0]

[15, 30, 45]

In [ ]:
#Printing all the pairs of two lists
lst1 = [1,3,5]
lst2 = ["a","b","c"]
pair = [[i,j] for i in lst1 for j in lst2]
print(pair)

[[1, 'a'], [1, 'b'], [1, 'c'], [3, 'a'], [3, 'b'], [3, 'c'], [5, 'a'], [5, 'b'], [5, 'c']]

In [ ]:
#creating a random list of letters
import random
letters = [chr(i) for i in range(97,123)]
random_list = random.choices(letters,k=5)
print(random_list)

['b', 'b', 'k', 'x', 'g']

In [ ]:
# accessing a perticular element from the matrix
matrix = [[1,4,7],[3,1,4]]
for row in matrix:
    print(row)
#accessing 7
print(matrix[0][2])

[1, 4, 7]
[3, 1, 4]
7