In [1]:
1+1

2

In [2]:
total = 1+2+3+4+\
5+6
print(total)

21

In [3]:
x=2;y=3;z=x+y
print(z)

5

In [2]:
#Simple calculator
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
print("sum", a+b)
print("difference", a-b)
print("Multiplication",a*b)
print("Division", a/b)

sum 22
difference -2
Multiplication 120
Division 0.8333333333333334

In [1]:
a = int(input("Enter value for a:"))
b = int(input("Enter value for b:"))
operation = input("Enter operation (+,-,*,%):")
if operation == "+":
    print("Result:", a + b)
elif operation == "-":
    print("Result:", a - b)
elif operation == "*":
    print("Result:", a * b)
else:
    print("Result:", a / b)

Result: 2.0

In [5]:
for i in range(10):
    if i == 4:
        break
    print(i)

0
1
2
3

In [9]:
#nested loop
for i in range(3):
    for j in range(2):
        for k in range(2):
            print(f"i:{i},j:{j},k:{k}")

i:0,j:0,k:0
i:0,j:0,k:1
i:0,j:1,k:0
i:0,j:1,k:1
i:1,j:0,k:0
i:1,j:0,k:1
i:1,j:1,k:0
i:1,j:1,k:1
i:2,j:0,k:0
i:2,j:0,k:1
i:2,j:1,k:0
i:2,j:1,k:1

In [11]:
# Find all the prime numbers between 100
for num in range(1,101):
    if num > 1:
        for i in range (2,num):
            if(num%i) == 0:
                break
        else:
            print(num, end=" ")

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

In [12]:
def even_odd(num):
    if num%2 == 0:
        return "even"
    else:
        return "odd"
even_odd(10)

'even'

In [13]:
def print_num(*ashu):
    for i in ashu:
        print(i, end=" ")

print_num(1, 2, 3, 4.0, "Jena", True)

1 2 3 4.0 Jena True

In [2]:
import copy
a = [[1, 2], [3, 4]]
shallow = copy.copy(a)
deep = copy.deepcopy(a)
print(shallow)
print(deep)

[[1, 2], [3, 4]]
[[1, 2], [3, 4]]

In [3]:
a = [1,2,3]
b = a
b.append(4)
print(a)

[1, 2, 3, 4]

In [14]:
even_odd = lambda num:"even" if num%2==0 else "odd"
print(even_odd(10))

even

In [ ]:
num = int(input("Enter a number: "))
if num>0:
    print("Positive")
elif num == 0:
    print("Zero")
else:
    print("Negative")

Negative

In [6]:
num = float(input("enter a number:"))
if num >0:
    if num%2 ==0:
        print("Positive even")
    else:
        print("Positive odd")
elif num < 0:
    if num%2 ==0:
        print("Negative even")
    else:
        print("Negative odd")
else:
    print("Zero")

Positive even

In [7]:
# printing numbers from 1 to n
for i in range(1, 11):
    print(i, end=" ")

1 2 3 4 5 6 7 8 9 10

In [9]:
i = 1
while(i<=10):
    print(i, end=" ")
    i+=1

1 2 3 4 5 6 7 8 9 10

In [14]:
#5*5 grid of *
for i in range(5):
    for J in range (5):
        print(f"*", end=" ")
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [16]:
# break when user enters 0 untill sum all the input numbers
total = 0
while True:
    num = int(input("enter a num:"))
    if num == 0:
        break
    total += num
print(f"total sum of num is {total}")

total sum of num is 16

In [17]:
#print num from 1-10 except 5
for i in range (1,11):
    if i ==5:
        continue
    print(i, end=" ")

1 2 3 4 6 7 8 9 10

In [19]:
num = int(input("Enter a number: "))
for i in range(1,num+1):
    if i % 2 ==0:
        print(i, end=" ")

2 4 6 8 10

In [21]:
num = int(input("Enter a number: "))
factorial = 1
i = 1
while i <= num:
    factorial *= i
    i += 1
print(f"Factorial of {num} is {factorial}")

Factorial of 3 is 6

In [2]:
list = [1,2,1,3,4]
a = list.index(3)
print(a)

3

In [4]:
b = list.pop()
print(b)
print(list)
print(list.count(1))

3
[1, 2, 1]
2

In [7]:
lst = [1, 2, 3, 4, 5, 6, 7, 8, 9]
print(lst[:5])
print(lst[-5:])

[1, 2, 3, 4, 5]
[5, 6, 7, 8, 9]

In [5]:
nums = [1, 2, 3, 4, 5]
for idx,num in enumerate(nums):
    print(idx,num)

0 1
1 2
2 3
3 4
4 5

In [1]:
list = list(range(1,21))
print(list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [3]:
print(list[0])
print(list[len(list)//2])
print(list[-1])

1
11
20

In [8]:
a = [x**2 for x in range (11) if x>0]
print(a)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [9]:
lst = [1, 2, 3, 4, 5, 6, 7, 8, 9]
list = [x for x in lst if x % 2 == 0]
print(list)

[2, 4, 6, 8]

In [19]:
import random
random_num = [random.randint(1,30) for _ in range(20)]
print(random_num)
unique_num = set(random_num)
print(unique_num)

[7, 11, 10, 15, 18, 8, 29, 11, 13, 1, 20, 8, 25, 30, 2, 22, 6, 11, 16, 15]
{1, 2, 6, 7, 8, 10, 11, 13, 15, 16, 18, 20, 22, 25, 29, 30}

In [25]:
matrix = [[2,5,7],
          [1,3,4],
          [6,8,9]]
print(matrix)
for row in matrix:
    print(row)
print(matrix[0][1])  # Accessing element at row 0, column 1
print(matrix[2][2])  # Accessing element at row 1, column 2

[[2, 5, 7], [1, 3, 4], [6, 8, 9]]
[2, 5, 7]
[1, 3, 4]
[6, 8, 9]
5
9

In [4]:
a = ("Ashu")
b = ("Neha")
c = a + " "+b
print(c)
print(c*3)

Ashu Neha
Ashu NehaAshu NehaAshu Neha

In [5]:
a=(1,2,3)
print(a*3)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [7]:
#packing
packed_tuple = 1, 2, 3
print(packed_tuple)
#Unpacked tuple
a,b,c = packed_tuple
print(a, b, c)

(1, 2, 3)
1 2 3

In [8]:
num = (1,2,3,4,5,6)
first,*middle,last = num
print(first, middle, last)

1 [2, 3, 4, 5] 6

In [9]:
matrix = ((1,2,3),(4,5,6))
for row in matrix:
    print(row)
print(f"Element at 1st row and 2nd column:{matrix[1][2]}")

(1, 2, 3)
(4, 5, 6)
Element at 1st row and 2nd column:6

In [15]:
tpl = (1,2,3,1,4,2,5,5,5)
tpl.count(5)
tpl.index(5)

6

In [19]:
string = "hello"
tpl = tuple(string)
print(tpl)
joined_string = '.'.join(tpl)
print(joined_string)

('h', 'e', 'l', 'l', 'o')
h.e.l.l.o

In [20]:
tpl_dict = {
    (1, 2): 3,
    (4, 5): 6,
    (7, 8): 9
}
print(tpl_dict)

{(1, 2): 3, (4, 5): 6, (7, 8): 9}

In [21]:
tpl = (1, 2, 2, 3, 4, 4, 4, 5)
unique_set = set(tpl)
print(unique_set)

{1, 2, 3, 4, 5}

In [22]:
def min_in_tuple(tpl):
    return min(tpl)

def max_in_tuple(tpl):
    return max(tpl)

def sum_of_tuple(tpl):
    return sum(tpl)

sample_tpl = (1, 2, 3, 4, 5)
print(f"Minimum: {min_in_tuple(sample_tpl)}")
print(f"Maximum: {max_in_tuple(sample_tpl)}")
print(f"Sum: {sum_of_tuple(sample_tpl)}")

Minimum: 1
Maximum: 5
Sum: 15

In [23]:
x = [1,2,3]
print(x*2)

[1, 2, 3, 1, 2, 3]

In [24]:
5**2//3+1

9

In [26]:
list=[]
a = bool(list)
print(a)

False

In [1]:
set1 = {1,2,3,4,6,7}
set2 = {6,7,8,9}
sdiff  = set1.symmetric_difference(set2)
print(sdiff)

{1, 2, 3, 4, 8, 9}

In [2]:
text = "Hey Ashu, I know you have bigger dreams and passion but are you hungry enough.How can you be so reckless about your dreams ,Fight it buddy."
words = text.split()
unique_words = set(words)
print(unique_words)

{'you', 'I', 'hungry', ',Fight', 'can', 'be', 'about', 'have', 'buddy.', 'it', 'Ashu,', 'but', 'your', 'know', 'bigger', 'dreams', 'are', 'passion', 'and', 'reckless', 'Hey', 'enough.How', 'so'}

In [6]:
set1 = set(range(1,6))
set2 = set(range(2,11,2))
print(set1.union(set2))
print(set1.intersection(set2))
print(set1.difference(set2))
print(set1.symmetric_difference(set2))

{1, 2, 3, 4, 5, 6, 8, 10}
{2, 4}
{1, 3, 5}
{1, 3, 5, 6, 8, 10}

In [7]:
s= {1,2,3,4,5,6,7}
even_s = {x for x in s if x%2 == 0}
print(even_s)

{2, 4, 6}

In [8]:
fs = frozenset(range(1, 6))
print(fs)

frozenset({1, 2, 3, 4, 5})

In [12]:
s = {1,2,3}
s.add(4)
print(s)
s1 = frozenset(s)
print(s1)

{1, 2, 3, 4}
frozenset({1, 2, 3, 4})

In [13]:
s = set(range(1, 6))
while s:
    s.pop()
    print(s)

{2, 3, 4, 5}
{3, 4, 5}
{4, 5}
{5}
set()

In [14]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set1.symmetric_difference_update(set2)
print(set1)

{1, 2, 4, 5}

In [15]:
s = set(range(1, 6))
print(3 in s)
print(6 in s)

True
False

In [16]:
s = { (1, 2), (3, 4), (5, 6) }
print(s)

{(1, 2), (3, 4), (5, 6)}

In [ ]:
#Copy and shallow copy
student = {"name":"Ashu","age":23,"city":"Bbsr"}
student_copy = student
print(student_copy)
student["age"] = 24
print(student)
print(student_copy)  # This will reflect the change as well
student_shallow_copy = student.copy()
student["age"] = 30
print(student)
print(student_shallow_copy)  # This will not reflect the change

{'name': 'Ashu', 'age': 23, 'city': 'Bbsr'}
{'name': 'Ashu', 'age': 24, 'city': 'Bbsr'}
{'name': 'Ashu', 'age': 24, 'city': 'Bbsr'}
{'name': 'Ashu', 'age': 30, 'city': 'Bbsr'}
{'name': 'Ashu', 'age': 24, 'city': 'Bbsr'}

In [ ]:
# Iterate over key,value pairs in a dictionary
for key,value in student.items():
    print(f"{key}:{value}")

name:Ashu
age:30
city:Bbsr

In [6]:
#Merging two dictionaries
d1 = {x:x**2 for x in range(1,6)}
d2 = {x:x**2 for x in range(6,11)}
d1.update(d2)
print(d1)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [7]:
multiples = {i: [i * j for j in range(1, 6)] for i in range(1, 6)}
print(multiples)

{1: [1, 2, 3, 4, 5], 2: [2, 4, 6, 8, 10], 3: [3, 6, 9, 12, 15], 4: [4, 8, 12, 16, 20], 5: [5, 10, 15, 20, 25]}

In [8]:
tuple_dict = {i: (i, i**2) for i in range(1, 6)}
print(tuple_dict)

{1: (1, 1), 2: (2, 4), 3: (3, 9), 4: (4, 16), 5: (5, 25)}

In [16]:
d = {i: i**2 for i in range(1, 11)}
even_dict = {k: v for k, v in d.items() if k % 2 == 0}
print(even_dict)
swap_dict = {y:x for x,y in even_dict.items()}
print(swap_dict)

{2: 4, 4: 16, 6: 36, 8: 64, 10: 100}
{4: 2, 16: 4, 36: 6, 64: 8, 100: 10}

In [17]:
from collections import defaultdict

default_dict = defaultdict(list)
default_dict['a'].append(1)
default_dict['a'].append(2)
default_dict['b'].append(3)
print(default_dict)

defaultdict(<class 'list'>, {'a': [1, 2], 'b': [3]})

In [18]:
def count_chars(s):
    count_dict = {}
    for char in s:
        count_dict[char] = count_dict.get(char, 0) + 1
    return count_dict

string = "hello world"
print(count_chars(string))

{'h': 1, 'e': 1, 'l': 3, 'o': 2, ' ': 1, 'w': 1, 'r': 1, 'd': 1}

In [19]:
#dictionary to JSON
import json

book = {
    'title': 'To Kill a Mockingbird',
    'author': 'Harper Lee',
    'year': 1960,
    'genre': 'Fiction'
}
book_json = json.dumps(book)
print(book_json)

{"title": "To Kill a Mockingbird", "author": "Harper Lee", "year": 1960, "genre": "Fiction"}

In [1]:
from package.math import addition, subtraction
print(f"{addition(5, 3)}")
print(f"{subtraction(5, 3)}")

8
2

In [4]:
import random
print(random.randint(1,10))
print(random.choice(['a','b','c','d']))

8
d

In [5]:
import os
print(os.getcwd())

c:\Users\jenaa\OneDrive\Desktop\DSML